[submodule "themes/onedly"]
	path = themes/onedly
	url = https://github.com/cdeck3r/OneDly-Theme.git
[submodule "themes/osprey-delight"]
	path = themes/osprey-delight
	url = https://github.com/kdevo/osprey-delight.git
